#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#Forge
Forge
build
out
run
*.ipr
*.iws
*.iml
*.db
Art/models/Blocks/FirePit 2.0/Assemlby.blend
Art/models/Blocks/FirePit 2.0/Assemlby.blend1
Art/models/Blocks/FirePit 2.0/Assemlby.obj
Art/models/Blocks/FirePit 2.0/Assemlby.mtl