language: java
jdk:
- oraclejdk7
before_install:
- chmod +x gradlew
install: ./gradlew setupCIWorkspace -S
script: ./gradlew build -i -S
after_success:
  - ./gradlew uploadJars -S
  - ./gradlew createGithubBranches -S
